<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    
     <title>Weather App</title>
</head>
<body>
    
  {{>navbar}}


    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="images/Himani.png" alt="Himani" class="img-fluid" title="Himani Gangwar">
                        </figure>
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p> About me:</p>
                        <h1>I Am A<span class="text_clr"> Mern Stack Developer</span > And Java Developer</h1>
                        <a href="/"><button> Back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

{{>footer}}

</body>
</html>